.barra-pesquisa {
    margin: 1rem auto;
    width: 80%;
    display: flex;
    justify-content: center;
  }
  
  .barra-pesquisa input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 25px;
    border: 1px solid #ddd;
    font-size: 16px;
  }