.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff; /* Cor de fundo primária */
  color: black; /* Texto branco */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

.cabecalho h1 {
  font-family:Fredoka;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.cabecalho nav {
  display: flex;
  gap: 10px;
}

.menu-icon, .profile-icon {
  color: orange;
  font-size: 18px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-icon:active, .profile-icon:active {
  transform: scale(0.95); /* Efeito de clique */
}

@media (max-width: 768px) {
  .cabecalho h1 {
    font-size: 20px; /* Reduz tamanho do título em telas menores */
  }

  .menu-icon, .profile-icon {
    font-size: 16px;
    padding: 6px 10px;
  }
}
