.formulario-comentario {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .formulario-comentario input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .formulario-comentario button {
    padding: 10px;
    background-color: #ff6f00;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .formulario-comentario button:hover {
    background-color: #e65b00;
  }
  