.imagem-postagem {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0; 
}

.imagem-postagem img {
  width: 100%;
  max-width: 600px; 
  height: auto;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  object-fit: cover; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.imagem-postagem img:hover {
  transform: scale(1.02); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /
}
