.lista-viagens {
  padding: 20px;
  background-color: #f9f9f9; /* Fundo claro */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-top: 20px;
}

.lista-viagens h2 {
  font-family: Fredoka;
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Texto principal */
  text-align: center;
  margin-bottom: 20px; /* Espaço abaixo do título */
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Layout responsivo */
  gap: 20px; /* Espaço entre os cartões */
  justify-content: center; /* Centraliza os cartões */
}
