.menu-filtro {
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  max-width: 300px;
  margin: 20px auto; 
}

.menu-filtro h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333; 
  margin-bottom: 15px; 
  text-align: center; 
}

.menu-filtro select {
  width: 100%; 
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  margin-bottom: 15px; 
}

.menu-filtro div {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.menu-filtro label {
  font-size: 14px;
  color: #555; 
  display: flex;
  align-items: center;
}

.menu-filtro input[type="checkbox"] {
  margin-right: 10px; 
  accent-color: #007bff; 
}

.brasil{
  font-weight: bold;
}
