.lista-viagens {
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 20px;
  }
  
  .lista-viagens h2 {
    font-family: Fredoka;
    font-size: 24px;
    font-weight: bold;
    color: #333; 
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    justify-content: center; 
  }
  